<div>
  <% if wiki.collaboration_users.include?(user) %>
    <%= link_to user_collaborators_path(user_id: user_id, wiki_id: wiki_id), class: 'btn btn-danger', method: :delete do %>
      <i class='glyphicon glyphicon-remove'> </i> Remove <%= user.name %>
    <% end %>
  <% else %>
    <%= link_to user_collaborators_path(user_id: user_id, wiki_id: wiki_id), class="btn btn-default", method: :post do %> 
      <i class="glyphicon glyphicon-ok"> </i> Add <%= user.name %>
    <% end %>
  <% end %>
</div>