<div class="bgimg-1">
  <div class="caption">
    <span class="border">THE NEW GIRL QUOTES</span>
  </div>
</div>

<div class="ng-describe">
  <div class="row">
    <div class="col-md-4" id="read-quotes">
        <h3>Read Quotes</h3>
        <p>Read some of your favorite quotes from hit television program, The New Girl.</p>
    </div>
    <div class="col-md-4" id="provide-quotes">
      <h3>Provide Quotes</h3>
      <p>Sign up and provide your own favorite quotes from the New Girl.</p>
    </div>
    <div class="col-md-4" id="share-quotes">
      <h3>Share Quotes</h3>
      <p>Upgrade your account to comment on quotes and collaborate with other fans.</p>
    </div>
  </div>
</div>

d
</div>

<div class="ng-features">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <h2>Account Features</h2>
    <div class="row">
        

        <div class="col-md-6">
          <div class="accounts-block">
            <h3>Standard</h3>
            <h4>Free</h4>
            <ul>
                <li>Read New Girl Quotes</li>
                <li>Create New Girl Quotes for Public Viewing</li>
                <li>Edit Public New Girl Quotes</li>
            </ul>
            <a><%= link_to "Sign Up", new_user_registration_path, :class =>"btn btn-success" %></a>
          </div>
        </div>

        <div class="col-md-6">
            <div class="accounts-block">
              <h3>Premium</h3>
              <h4>$15<span class="per-month"> /month</span></h4>
              <ul>
                <li>All Standard Features</li>
                <li>Create Private New Girl Quites</li>
                <li>Collaborators with other New Girl Fans</li>
              </ul>
              <a><%= link_to "Sign Up", new_user_registration_path, :class =>"btn btn-success" %></a>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    

  </div>
</div>

<div class="bgimg-1">
  <div class="caption">
    <span class="border">THANK YOU FOR VISITING!</span>
  </div>
</div>

