<% if  user_is_authorized_for_edit? %>
    <h1>Edit a Wiki</h1>
    <%= render partial: 'form', locals: { wiki: @wiki } %>
    <%= render partial: 'collaborators/form', locals: { collaborators: @wiki.collaborators } %>
<% end %>