<h1>Edit Wiki</h1>
<div class="row">
  <div class='col-md-4'>
    <p>Guidelines for wikis</p>
    <ul>
      <li>Blocipedia takes advantage of Markdown.</li>
      <li>Markdown is a plain text formatting syntax for writing.</li>
      <li>Markdown provides seemless conversion of your writing to HTML.</li>
      <li>Click the cheatsheet if you need formatting assistance.</li>
    </ul>
  </div> 
  <div class="col-md-8">
    <%= render partial: 'form', locals: {wiki: @wiki} %>
  </div>
</div>
<hr >
<div class="row">
  <div class="col-md-10">
    <% if @wiki.private? || (current_user.role == 'premium' || current_user.role == 'admin') %>
      <div class="col-md-4">
          <h4>Collaborators</h4>
            <ul>
            <% @wiki.collaborators.each do |collaborator| %>
              <li>
                <%= collaborator.user.email %>
                <% if @wiki.user == current_user %>
                  <%= link_to "Remove Collaborator", [@wiki, collaborator], method: :delete %>
                <% end %>
              </li>
            </ul>
          <%= link_to "Add Collaborator", new_wiki_collaborator_path(@wiki), class:'btn btn-success' %>
        <% end %>
      </div>
    <% end %> 
  </div>
</div>

