<h1>New Wiki</h1>
<div class="row">
  <div class="col-md-4">
    
    <p>Guidelines for wikis</p>
    <ul>
      <li>Blocipedia takes advantage of Markdown.</li>
      <li>Markdown is a plain text formatting syntax for writing.</li>
      <li>Markdown provides seemless conversion of your writing to HTML.</li>
      <li>Click the cheatsheet if you need formatting assistance.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: {wiki: @wiki} %>
  </div>
</div>