<div id="ng-quoters">
    <div class="caption">
        <span class="border"> <%= @wiki.title %> </span>
    </div>

    <div class="row">
        <div class="col-md-8 ng-quotes">
            <p>"<%= @wiki.body %>"</p>
        </div>
        <div class="col-md-4 ng-quotes">
            <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
            <%= link_to "Delete Post", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} %>
        </div>
    </div>
</div>